template
	section(class.bind="'au-animate ' + routeConfig.name")
	//- TODO: #107 Create sliders
	//- TODO: #108 Finish Upload Functionality
	//- TODO: #109 Tooltip remake 
		.container
			h1.page-title ${heading}
			p 
				strong Planteaza pentru Romania 
				|  este un proiect 100% transparent prin care donatia ta ajuta la refacerea, protejarea si conservarea padurilor. Salveaza padurile din Romania si doneaza pentru a fi tu cel care decide soarta ecosistemelor forestiere. Fiecarei donatii ii va corespunde un arbore care va fi plantat intr-una din padurile din imprejurimea zonei Brasov.
			.fb-head
				.fb-head__wrap
					.fb-head__cover
						.fb-head__inner
							img#image-cover(src="dist/assets/img/fb/fb-default-cover-img.jpg", alt="")
						.fb-head__profile
							.fb-head__inner
								img#image-profile(src="dist/assets/img/fb/fb-default-profile-img.jpg", alt="")
				.tooltip.top.tooltip--fb-cover.hidden-xs
					.tooltip-arrow
					.tooltip-inner Alege o imagine pentru cover
				.tooltip.top.tooltip--fb-profile.hidden-xs
					.tooltip-arrow
					.tooltip-inner Alege o imagine de profil

			.alert-facebook-auth.text-center(role='alert', if.bind='!fbIsLoggedIn')
				button#facebook-login.btn.btn--tertiary(click.delegate="fbLogin()")
					i.fa.fa-facebook
					| Autentifica-te

			div(class.bind="'row facebook-choice ' + (fbIsLoggedIn ? '' : 'hide')")
				//- .col-md-6.facebook-image-profile
				.row
				each src, i in pictures
					.col-md-2
						img.main-profile(src=src, alt="", style="width: 100%;")
						div
							input(type="radio", name="fb-image-profile-radio", value=i)
				.row
					button.btn.btn--secondary(click.delegate="fbChangePicture()") Schimba-ti imaginea de profil

			//- .col-md-6.facebook-image-cover
			.row
			each src, i in covers
				.col-md-6
					//- http://seiyria.com/bootstrap-slider/
					img.main-cover(src=src, alt="", style="width: 100%;")
					div
						input(type="radio", name="fb-image-profile-radio", value=i)
			.row
				button.btn.btn-default(click.delegate="fbChangeCover()") Schimba-ti imaginea de cover


		//- .fb-login-button
		//- .fb-like(data-share='true', data-width='450', data-show-faces='true')
