template
  require(from="./lib/value-converters/array/filterOnProperty")
  require(from="./lib/value-converters/array/slice")
  section.au-animate
    .container
      h1.page-title ${heading}
      .row
        p Multumim public partenerilor nostri impreuna cu care am plantat 1 milion de puieti intr-o singura zi ducand 
          | Romania pe locul doi in lume la acest capitol!
        p Cu sprijinul lor dar si a altor Prieteni ai Padurilor din Romania ne propunem ca in 2017 sa transformam 
          | Romania in “Campioana Mondiala la Plantat”, obiectiv pentru care va trebui sa plantam mai mult de 1,2 
          | milioane de puieti intr-o singura zi! 
        p Partenerii nostri in cadrul proiectului “Planteaza Pentru Romania” editia 1, 2016 sunt:
      .tabs
        ul.nav.nav-tabs(role="tablist")
          li.active(role="presentation")
            a(href="#forestryUnits", role="tab", aria-controls="forestryUnits", data-toggle="tab") Ocoale Silvice
          li(role="presentation")
            a(href="#institutions", role="tab", aria-controls="institutions", data-toggle="tab") Institutii si ONG-uri
          li(role="presentation")
            a(href="#companies", role="tab", aria-controls="companies", data-toggle="tab") Companii
          li(role="presentation")
            a(href="#donators", role="tab", aria-controls="donators", data-toggle="tab") Donatori companiesi
      .tab-content
        #forestryUnits.tab-pane.active(role="tabpanel")
          .row.l-flex.l-flex--lrg
            .col-sm-4.l-flex__item.l-flex(repeat.for="item of forestryUnits | slice:0:9" )
              .box.box--partners-l1.l-flex__item
                .box__img(class.bind="item.logo ? '' : 'hide'")
                  img(src="${item.logo}", alt="")
                  //- a(href="${item.url}", target="_blank")
                .box__text(class.bind="item.logo ? 'hide' : ''")
                  h3 ${item.unitName}
                    //- a(href="${item.url}", target="_blank") ${item.unitName}
                  p a plantat ${item.treesSum} de puieti in 2016/04
          .row.l-flex.l-flex--lrg
            .col-sm-3.l-flex__item.l-flex(repeat.for="item of forestryUnits | slice:9" )
              .box.box--partners-l1.l-flex__item
                .box__img(class.bind="item.logo ? '' : 'hide'")
                  a(href="${item.url}", target="_blank")
                    img(src="${item.logo}", alt="")
                .box__text(class.bind="item.logo ? 'hide' : ''")
                  h4 
                    a(href="${item.url}", target="_blank") ${item.unitName}
                  p ${item.treesSum}  in 2016/04
        #institutions.tab-pane(role="tabpanel")
          .row
            .col-sm-4(repeat.for="item of institutions | slice:0:9")
              .box.box--partners-l1
                .box__img(class.bind="item.logo ? '' : 'hide'")
                  a(href="${item.url}", target="_blank")
                    img(src="${item.logo}", alt="")
                .box__text(class.bind="item.logo ? 'hide' : ''")
                  h3 
                    a(href="${item.url}", target="_blank") ${item.name}
          .row
            .col-xs-6.col-sm-2(repeat.for="item of institutions | slice:9")
              .box.box--partners-l1
                .box__img(class.bind="item.logo ? '' : 'hide'")
                  a(href="${item.url}", target="_blank")
                    img(src="${item.logo}", alt="")
                .box__text(class.bind="item.logo ? 'hide' : ''")
                  h4 
                    a(href="${item.url}", target="_blank") ${item.name}
        #companies.tab-pane(role="tabpanel")
          .row
            .col-sm-4(repeat.for="item of companies | slice:0:9")
              .box.box--partners-l1
                .box__img(class.bind="item.logo ? '' : 'hide'")
                  a(href="${item.url}", target="_blank")
                    img(src="${item.logo}", alt="")
                .box__text(class.bind="item.logo ? 'hide' : ''")
                  h3 ${item.name}
          .row
            .col-xs-6.col-sm-2(repeat.for="item of companies | slice:9")
              .box.box--partners-l1
                .box__img(class.bind="item.logo ? '' : 'hide'")
                  a(href="${item.url}", target="_blank")
                    img(src="${item.logo}", alt="")
                .box__text(class.bind="item.logo ? 'hide' : ''")
                  h3 ${item.name}
        #donators.tab-pane(role="tabpanel")
          .row
            .col-sm-4(repeat.for="item of donators | slice:0:9")
              .box.box--partners-l1
                .box__text(class.bind="item.logo ? 'hide' : ''")
                  h3 ${item.name}
          .row
            .col-xs-6.col-sm-2(repeat.for="item of donators | slice:9")
              .box.box--partners-l1
                .box__text(class.bind="item.logo ? 'hide' : ''")
                  h3 ${item.name}
